
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Refresh" content="1">
    <title>Tiger Punch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="..\static\css\home.css" type="text/css">
  </head>
  <body>
    <div class="frame">
      
        <img class="logo" src="https://openclipart.org/image/2400px/svg_to_png/293320/Clenched-Fist-No-Stroke.png">
        
        
       
    </div>
    <div>
      <h1>Tiger Punch</h1>
      <div>
          {% if synced%}
          <p class="message succes">Your MYO armband is synced and ready to go! </p>
          <a href="play"><button type="button" class="activated">PLAY</button></a>
          {% else%}
          <p class="message fail">Your MYO armband is not synced</p>
          <a href="/"><button type="button" class="unactivated">PLAY</button></a>
          {%- endif %}
      </div>
    </div>
  </body>
</html>