
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tiger Punch</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="..\static\css\home.css" type="text/css">
  </head>
  <body>
    <div class="frame">
      
        <img class="logo" src="https://openclipart.org/image/2400px/svg_to_png/293320/Clenched-Fist-No-Stroke.png">
        
        
       
    </div>
    <div>
      <h1>Tiger Punch</h1>
      <div>
          <!--<script>-->
               <!--if (listener.is_closed){-->
               <!--setTimeout(function () {-->
                <!--document.getElementById(curr_speed).innerHTML  = "You reached" + speeds + " m/s";-->
                <!--document.getElementById(best_speed).innerHTML  = "Best Speed: " + best_speed + " m/s";-->
                <!--}, 5000);-->
              <!--}-->

          <!--</script>-->

          <h1 class="speed" id="curr_speed">You reached 0 m/s</h1>
          
          <h1 class="speed" id="best_speed">Best Speed: 0 m/s</h1>
          

          
          
          
      </div>
    </div>
  </body>
</html>